<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {{ site.title | escape }}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/wozio/home-system"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">home-system</span></a>
          </li>
          <li>
            <a href="https://github.com/wozio/MobileClient"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">MobileClient</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
